@import "variables",
        "components/*",
        "scaffolds";


@media(min-width: 500px){
  html{
    font-size: 14px;
  }
}
@media(max-width: 499px){
  html {
    font-size: 16px;
  }
}
body {
  background-color: white;
  font-size: 100%;
  margin: 0;
}

h4 {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.centered {
  text-align: center;
}

.centered > * {
  text-align: left;
}

.bottom-nav-buttons {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}